# Compiled class file
*.class
# Log file
*.log
# Project exclude paths
/out/
### IntelliJ IDEA ###
.idea/
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

JavaExercise.iml